/*------------------------------------------------------------------ IMPORT FONTS -------------------------------------------------------------------*/
 @import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
 @import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i');
 @import url('https://fonts.googleapis.com/css?family=Great+Vibes');

/*------------------------------------------------------------------ SKELETON -------------------------------------------------------------------*/
 body {
     color: #666666;
     font-size: 15px;
     font-family: 'Poppins', sans-serif;
     line-height: 1.80857;
}
 a {
     color: #1f1f1f;
     text-decoration: none !important;
     outline: none !important;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
}
 h1, h2, h3, h4, h5, h6 {
     letter-spacing: 0;
     font-weight: normal;
     position: relative;
     padding: 0 0 10px 0;
     font-weight: normal;
     line-height: 120% !important;
     color: #1f1f1f;
     margin: 0 
}
 h1 {
     font-size: 24px 
}
 h2 {
     font-size: 22px 
}
 h3 {
     font-size: 18px 
}
 h4 {
     font-size: 21px;
     color: #07528d;
     margin-top: 25px;
}
 h5 {
     font-size: 14px 
}
 h6 {
     font-size: 13px 
}
 h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
     color: #212121;
     text-decoration: none!important;
     opacity: 1 
}
 h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
     opacity: .8 
}
 a {
     color: #1f1f1f;
     text-decoration: none;
     outline: none;
}
 a, .btn {
     text-decoration: none !important;
     outline: none !important;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
}
 .btn-custom {
     margin-top: 20px;
     background-color: transparent !important;
     border: 2px solid #ddd;
     padding: 12px 40px;
     font-size: 16px;
}
 .lead {
     font-size: 18px;
     line-height: 30px;
     color: #767676;
     margin: 0;
     padding: 0;
}
 blockquote {
     margin: 20px 0 20px;
     padding: 30px;
}
 ul, li, ol{
     list-style: none;
     margin: 0px;
     padding: 0px;
}
 button:focus{
     outline: none;
}
 .form-control::-moz-placeholder {
     color: #ffffff;
     opacity: 1;
}
/*------------------------------------------------------------------ 
LOADER 
-------------------------------------------------------------------*/

.loader img {
    width: 100%;
}

 #preloader {
     width: 100%;
     height: 100%;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
     z-index: 11000;
     position: fixed;
     display: block;
     display: flex;
     justify-content: center;
     align-items: center;
     background: #fff;
}
 .loader {
     display: block;    
     flex-wrap: wrap;
     width: 250px;
     height: auto;
     -webkit-transform-style: preserve-3d;
     transform-style: preserve-3d;
}
 .box {
     position: absolute;
     top: 0;
     left: 0;
     width: 75px;
     height: 75px;
     background-image: none;
     background-size: auto auto;
     background-image: none;
     -webkit-animation: move 2s ease-in-out infinite both;
     animation: move 2s ease-in-out infinite both;
     animation-delay: 0s;
     animation-delay: 0s;
     animation-delay: 0s;
     background-image: url('../images/gb.png');
     background-size: 100% 100%;
}
 .box:nth-child(1) {
     -webkit-animation-delay: -1s;
     animation-delay: -1s;
}
 .box:nth-child(2) {
     -webkit-animation-delay: -2s;
     animation-delay: -2s;
}
 .box:nth-child(3) {
     -webkit-animation-delay: -3s;
     animation-delay: -3s;
}
 @-webkit-keyframes move {
     0%, 100% {
         -webkit-transform: none;
         transform: none;
    }
     12.5% {
         -webkit-transform: translate(40px, 0);
         transform: translate(40px, 0);
    }
     25% {
         -webkit-transform: translate(80px, 0);
         transform: translate(80px, 0);
    }
     37.5% {
         -webkit-transform: translate(80px, 40px);
         transform: translate(80px, 40px);
    }
     50% {
         -webkit-transform: translate(80px, 40px);
         transform: translate(80px, 40px);
    }
     62.5% {
         -webkit-transform: translate(30px, 60px);
         transform: translate(30px, 60px);
    }
     75% {
         -webkit-transform: translate(0, 80px);
         transform: translate(0, 40px);
    }
     87.5% {
         -webkit-transform: translate(0, 40px);
         transform: translate(0, 40px);
    }
}
 @keyframes move {
     0%, 100% {
         -webkit-transform: none;
         transform: none;
    }
     12.5% {
         -webkit-transform: translate(40px, 0);
         transform: translate(40px, 0);
    }
     25% {
         -webkit-transform: translate(80px, 0);
         transform: translate(80px, 0);
    }
     37.5% {
         -webkit-transform: translate(80px, 40px);
         transform: translate(80px, 40px);
    }
     50% {
         -webkit-transform: translate(80px, 80px);
         transform: translate(80px, 80px);
    }
     62.5% {
         -webkit-transform: translate(40px, 80px);
         transform: translate(40px, 80px);
    }
     75% {
         -webkit-transform: translate(0, 80px);
         transform: translate(0, 80px);
    }
     87.5% {
         -webkit-transform: translate(0, 40px);
         transform: translate(0, 40px);
    }
}
 #scroll-to-top {
     width: 40px;
     height: 40px;
     position: fixed;
     bottom: 10px;
     right: 20px;
     display: none;
     font-size: 25px;
     border-radius: 0;
     transition: .2s;
     letter-spacing: 1px;
     text-align: center;
     line-height: 40px;
     color: #ffffff;
     font-weight: 900;
     border-radius: 100%;
}
/*------------------------------------------------------------------ HEADER -------------------------------------------------------------------*/
 .top-header .navbar{
     padding: 5px 0px;
}
 .top-header {
     background-image: url("../images/header_img.png");
     position: relative;
     top: 0px;
     left: 0px;
     width: 100%;
     margin: 0 auto;
     z-index: 20;
     background-position: left;
     background-repeat: no-repeat;
     background-color: #0892fd;
     background-size: auto 100%;
}
 .top-header .navbar .navbar-collapse ul li a {
     text-transform: uppercase;
     font-size: 15px;
     padding: 7px 20px;
     position: relative;
     font-weight: 400;
     overflow: hidden;
     color: #000;
}
 a.navbar-brand {
     left: 35px;
     position: relative;
}

 .top-header .navbar .navbar-collapse ul li a:hover, .top-header .navbar .navbar-collapse ul li a:focus {
     background: transparent;
     color: #fff;
     border-radius: 1;
}

 .top-header .navbar .navbar-collapse ul li {
     margin: 0 2px;
}
 .top-header.fixed-menu {
     width: 100%;
     position: fixed;
     box-shadow: 0px 3px 6px 3px rgba(0, 0, 0, 0.06);
     -webkit-animation-duration: 1s;
     animation-duration: 1s;
     -webkit-animation-fill-mode: both;
     animation-fill-mode: both;
     -webkit-animation-name: fadeInDown;
     animation-name: fadeInDown;
     background: #fff;
     z-index: 20;
}
 .navbar-toggler {
     border: 2px solid #0892fd;
     border-radius: 0;
     margin: 15px 15px;
     padding: 8px 8px;
     -webkit-transition: all 0.2s linear;
     -moz-transition: all 0.2s linear;
     -o-transition: all 0.2s linear;
     transition: all 0.2s linear;
}
 .navbar-toggler span {
     background: #0892fd;
     display: block;
     width: 22px;
     height: 2px;
     margin: 0 auto;
     margin-top: 0px;
     margin-top: 0px;
     -webkit-border-radius: 1px;
     -moz-border-radius: 1px;
     border-radius: 1px;
     -webkit-transition: all 0.2s linear;
     -moz-transition: all 0.2s linear;
     -o-transition: all 0.2s linear;
     transition: all 0.2s linear;
}
 .navbar-toggler span + span{
     margin-top: 5px;
}
 .navbar-toggler:hover {
     border: 2px solid #0892fd;
}
 .navbar-toggler:hover span{
     background: #0892fd;
}

/*------------------------------------------------------------------ Contact -------------------------------------------------------------------*/
 .contact-box{
     padding: 70px 0px;
}
 .left-contact h2{
     font-size: 22px;
     font-weight: 500;
     padding-bottom: 30px;
}
 .cont-line{
     overflow: hidden;
     margin-bottom: 30px;
}
 .icon-b {
     width: 55px;
     height: 55px;
     text-align: center;
     line-height: 55px;
     font-size: 25px;
     margin-right: 15px;
     color: #fff;
     border-radius: 100%;
     background: #0892fd;
}
 .dit-right h4 {
     font-size: 16px;
     color: #3a4149;
     font-weight: 500;
     margin: 0;
     padding: 0;
}
 .dit-right p {
     font-size: 14px;
     margin-top: 0;
}
 .dit-right a {
     font-size: 14px;
     color: #3a4149;
     font-weight: 300;
     line-height: normal;
}
 .dit-right a:hover{
     color: #57cef8;
}

 .contact-block .form-group .form-control {
     background: #333;
     height: 48px;
     font-size: 14px;
     border: 0;
     padding: 5px 20px;
     -webkit-box-shadow: none;
     box-shadow: none;
     border-radius: 0;
     font-weight: 200;
     letter-spacing: 0px;
}
 .submit-button .btn-common {
     background-color: #0892fd;
     height: 45px;
     line-height: 45px;
     font-size: 14px;
     font-weight: 400;
     color: #fff;
     padding: 0 20px;
     border: 0;
     outline: 0;
     text-transform: uppercase;
     border-radius: 0px;
     -webkit-transition: all 0.3s;
     -moz-transition: all 0.3s;
     -o-transition: all 0.3s;
     -ms-transition: all 0.3s;
     transition: all 0.3s;
     border-radius: 0;
     opacity: 1;
}
 .contact-block .form-group textarea.form-control{
     height: 150px;
     padding-top: 15px;
}
 .submit-button .btn-common:hover{
     background-color: #111;
     opacity: 1;
}
 .custom-select{
     height: 45px;
     font-size: 16px;
}
 select.form-control:not([size]):not([multiple]){
     height: calc(45px + 2px);
}
 .help-block ul li{
     color: red;
}
 .footer-box {
     background: #072745;
     padding: 50px 0;
     text-align: center;
}
 .footer-box .footer-company-name {
     text-align: center;
     margin: 0px;
     color: #333;
     font-size: 13px;
     font-weight: 400;
     padding-top: 2px;
}
 .footer-box .footer-company-name a {
     color: #333;
     text-decoration: underline !important;
}
 .footer-box .footer-company-name a:hover {
     color: #e91327;
}
/*------------------------------------------------------------------ Subscribe -------------------------------------------------------------------*/
 .subscribe-box {
     padding: 70px 0px;
     background: #e91327;
}
 .subscribe-inner{
     max-width: 500px;
     width: 100%;
     margin: 0 auto;
}
 .subscribe-inner h2 {
     font-size: 80px;
     font-weight: 600;
     color: #ffffff;
     font-family: 'Great Vibes', cursive;
     padding: 0;
}
 .subscribe-inner p{
     color: #cccccc;
}
 .subscribe-inner .form-group .form-control-1{
     width: 100%;
     padding: 12px 15px;
     border-radius: 0px;
     border: none;
}
 .subscribe-inner .form-group button {
     border-radius: 0;
     transition: .2s;
     padding: 10px 18px;
     background: #222;
     color: #ffffff;
     border: none;
     cursor: pointer;
     font-weight: 300;
     letter-spacing: 0.1px;
     border-radius: 0 15px 0 15px;
}
 .about-main-info h2 img {
     margin-top: -10px;
}
 p {
     margin-top: 5px;
     margin-bottom: 1rem;
     font-size: 16px;
     font-weight: 300;
     line-height: normal;
}
 .text_align_center {
     text-align: center;
}
 .red_bg {
     background: #e91327;
}
 .white_fonts p, .white_fonts h1, .white_fonts h2, .white_fonts h3, .white_fonts h4, .white_fonts h5, .white_fonts h6, .white_fonts ul, .white_fonts ul li, .white_fonts ul li a, .white_fonts ul i, .white_fonts .post_info i, .white_fonts div, .white_fonts a.read_more {
     color: #fff !important;
}
 .red_bg .about-main-info a {
     background: #fff;
     color: #e91327;
}
 .testimonial_img {
     text-align: center;
     width: 100%;
     display: flex;
     justify-content: center;
}
 .mfp-figure figure .mfp-bottom-bar {
     display: none;
}
 #client_slider .carousel-indicators {
     bottom: -45px;
}
 #client_slider .carousel-indicators li {
     height: 15px;
     width: 15px;
     border-radius: 100%;
     background: #999;
}
 #client_slider .carousel-indicators li.active {
     background: #e91327;
}
 .layout_padding {
     padding: 75px 0;
}
 .heading_main h2 {
     font-size: 40px;
     letter-spacing: -0.5px;
     font-weight: 500;
     padding: 0;
     margin: 0;
     line-height: normal;
}
 .heading_main p.large {
     font-size: 20px;
     color: #605f5f;
     position: relative;
     padding: 0 185px;
}
 .heading_main p.large::after {
     content: "";
     display: block;
     width: 163px;
     height: 18px;
     position: absolute;
     background-position: center left;
     position: absolute;
     top: 5px;
     left: 0;
}
 .heading_main p.large::before {
     content: "";
     display: block;
     width: 163px;
     height: 18px;
     position: absolute;
     background-position: center right;
     position: absolute;
     top: 5px;
     right: 0;
}
 .center {
     display: flex;
     justify-content: center;
}
 .full {
     float: left;
     width: 100%;
}
 .heading_main {
     float: left;
}
 .theme_bg {
     background: #07528d;
}
 h3.small_heading {
     font-size: 35px;
     font-weight: 600;
     line-height: normal;
}
 .margin-top_30 {
     margin-top: 30px;
}
 .margin-bottom_30 {
     margin-bottom: 30px;
 }

 ul.social_icon li a {
     width: 35px;
     height: 35px;
     background: #fff;
     float: left;
     border-radius: 100%;
}
 ul.social_icon li i {
     color: #000 !important;
     line-height:35px;
}
 ul.social_icon li {
     float: left;
     margin: 0 5px;
}
 .footer_bottom {
     background: #05223d;
     padding: 15px 0;
}
 .footer_bottom p.crp {
     float: left;
     margin: 0;
     color: #8d8d8c;
     font-size: 15px;
}
 ul.bottom_menu li a {
     color: #8d8d8c;
}
 ul.bottom_menu li {
     float: left;
     font-size: 14px;
     font-weight: 300;
     margin-left: 20px;
}
 .bottom_menu {
     float: right;
}
 .innerpage_banner {
     background-color: #f9f9f9;
     min-height: 150px;
     text-align: center;
     background-image: url("../images/slider-01.jpg");
     background-size: cover;
     background-position: center center;
}
 .innerpage_banner h2 {
     margin: 55px 0 0;
     padding: 0;
     font-size: 30px;
     text-align: left;
     font-weight: 500;
     position: relative;
}
 #demo .img-responsive {
     width: 100%;
}
 .top-header.fixed-menu .search-btn {
     background: #111;
}
 .top-header.fixed-menu .search-box:hover .search-txt {
     width: 240px;
     padding: 0 10px;
     border: solid #000 1px;
     height: 41px;
}
 .top-header.fixed-menu ul li:hover a, .top-header.fixed-menu ul li:focus a {
     color: #0892fd !important;
}
 
.form-label-left{
    width:200px;
}
.form-line{
    padding-top:12px;
    padding-bottom:12px;
}
.form-label-right{
    width:200px;
}
.form-all{
    margin-left: auto;
    margin-right: auto;
    width:690px;
    background: none repeat scroll 0% 0% rgb(215, 233, 243);
    color:rgb(57, 79, 95) !important;
    font-family:'Tahoma';
    font-size:14px;
}
.form-radio-item label, .form-checkbox-item label, .form-grading-label, .form-header{
    color: rgb(57, 79, 95);
}

.p-about
{
    text-indent: 25px;
}

p { text-indent: 25px; }

.result_header
{
    background-color: green;
}

.theme_color {
    color: #0892fd;
}

.red_color {
   color: red;
}

.white_color{
    color: white;
 }

.green_color{
   color: Lime;
}

.orange_color{
   color: DarkOrange;
}

.blue_color {
   color: blue;
}
