{% extends 'base.html' %}

{% block content %}
<div class="section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="full center">
                    <div class="heading_main ">
                        <h2 class="text_align_center">Что такое <span class="red_color">диабет</span>?</h2>
                        <br>
                        <h1 class="text_align_center blue_color">Описание</h1>
                        <p class ="p-about">Сахарный диабет — это эндокринное заболевание, которые связано с нарушением усвоения глюкозы из-за 
                            недостаточности инсулина. Заболевание имеет хроническое течение, при котором нарушается все виды обмена 
                            веществ организма.
                        </p>
                        <p>Существуют различные классификации сахарного диабета по различным признакам, этиологически 
                            сахарный диабет можно разделить на 3 вида:
                        </p>
                       
                        <p> 1) Сахарный диабет 1-го типа; <br> </p>
                        <p> 2) Сахарный диабет 2-ого типа;<br> </p>
                        <p> 3) Другие формы диабета, которые включают: генетические дефекты, диабет, который появился в связи с приёмом лекарств или появившийся из-за инфекций и т. д.
                            <br> </p>
                       
                        <p> Второй тип диабета наиболее распространён, чем первый и другие формы; основная масса 
                            (около 90%-95% больных приходится именно на второй тип).
                        </p>
                         <h1 class="text_align_center blue_color">Осложнения</h1>
                         <p>
                           Можно выделить шесть особо опасных осложнений:
                         </p>
                         <p> 1) Кетоацидоз — нарушение обмена веществ в организме. В запущеннов виде может привести к летальному исходу; <br> </p>
                         <p> 2) Гипогликемия — понижение уровня сахара в крови. Может привести к коме и летальному исходу;<br> </p>
                         <p> 3) Кома;<br> </p>
                         <p> 4) Проблемы со зрением;<br> </p>
                         <p> 5) Диабетическая стопа — поражение кожи, сосудов, нервов, мышц и костей стопы;<br> </p>
                         <p> 6) Разнообразные кожные заболевания.<br> </p>
                         <h1 class="text_align_center blue_color">Факторы риска сахарного диабета</h1>
                         <p>
                            Существует огромное количество факторов, которые в той или иной роли могут повлиять на шанс заболевания 
                            сахарным диабетом. Какие-то играют большую роль, какие-то меньшую. 
                        </p>
                        <p> Можно выделить данные факторы риска:
                        </p>
                        <p> 1) Возраст больше сорока пяти;</p>
                        <p> 2) Индекс массы тела больше чем двадцать пять;</p>
                        <p> 3) Наличие близких родственников с сахарным диабетом;</p>
                        <p> 4) Нарушения обмена веществ, связанные с усвоением глюкозы;</p>
                        <p> 5) Сахарный диабет, возникший во время беременности, или рождение крупного ребенка в анамнезе. 
                            Так же играет роль количество беременностей матери;</p>
                        <p> 6) Повышенное артериальное давление;</p>
                        <p> 7) Отсутствие физической активности;</p>
                        <p> 8) Плохое питание и большое употребление продуктов с высоким содержанием сахара;
                        <p> 9) Этническая принадлежность;</p>

                        <h1 class="text_align_center blue_color">Основные симптомы сахарного диабета</h1>
                        <p> Основными симптомами сахарного диабета можно считать 
                        </p>
                        <p> 1) Повышенная жажда;</p>
                        <p> 2) Быстрая потеря веса (или наличие ожирения);</p>
                        <p> 3) Слабость и усталость;</p>
                        <p> 4) Судороги икроножных мышц;</p>
                        <p> 5) Увеличение объема мочи и учащенное мочеиспускание;</p>
                        <p> 6) Плохое заживление ран и рецидивирующие инфекции;</p>
                        <p> 7) Повышенный уровень сахара в крови;</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}